math.formula(display="block")
  msub
    mi W
    mi р
  mo (
  mi s
  mo )
  mo =
  mfrac
    mn 100
    mtext PB
  mspace(width="0.5ex")
  mo (
  mn 1
  mo +
  mfrac
    mrow
      mn 1
    mrow
      mtext TI
      mo *
      mi s
  mo +
  mtext TD
  mo *
  mi s
  mo )