mixin grammar()
  script.
    // Контролируем неразрывные предлоги
    console.log('grammar works');

    document.addEventListener("DOMContentLoaded", () => {
      const prepositions = [
        "в",
        "на",
        "под",
        "над",
        "перед",
        "после",
        "с",
        "у",
        "о",
        "об",
        "от",
        "до",
        "из",
        "за",
        "к",
        "около",
        "вокруг",
        "между",
        "около",
        "возле",
        "вблизи",
        "вдали",
        "внутри",
        "снаружи",
        "впереди",
        "позади",
        "вместо",
        "ввиду",
        "вследствие",
        "вслед",
      ];

      function replacePrepositions(node) {
        if (node.nodeType === Node.TEXT_NODE) {
          let text = node.textContent;
          prepositions.forEach((preposition) => {
            const regex = new RegExp(`\\b${preposition} \\b`, "g");
            text = text.replace(regex, `${preposition}&nbsp;`);
          });
          node.textContent = text;
        } else if (
          node.nodeType === Node.ELEMENT_NODE &&
          !["SCRIPT", "STYLE"].includes(node.tagName)
        ) {
          node.childNodes.forEach((child) => replacePrepositions(child));
        }
      }

      replacePrepositions(document.body);
    });
