section.flex-row.w-full.items-start(style="gap: var(--size-m);")

  div(style="width: 40px; height: 40px;")
    include ../components/pictures/logo.pug

  div.flex-col.w-full.items-start
    h2.wrap-header(style="margin: 0; text-transform: uppercase;").bold= title + ' от ' + date

    table.ghosted.slim
      thead
      tbody
        tr 
          td.medium Контур:
          td= contourName

span.separator.w-full
