include ../components/styles.pug
include ../components/grammar.pug

block variables

doctype html
html(lang="ru")
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  head
    title #{title}       
    +styles()
    +grammar()
  body
    block content
    script.
      window.onload = function() {

        const pages = document.querySelectorAll('section.page');


        pages.forEach((page, index) => {
          const pageNum = index + 1; 
          const span = document.createElement('span'); 
          span.className = 'page-num';
          span.textContent = `стр. ${pageNum}`;
          page.appendChild(span);
        });
      };